<%- include('./part/layout-start', {title: title}) %>
<%- include('./part/menu') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%= title %></h1>
        <p><strong><%- err_message %></strong></p>
        <p><%- invite_message %></p>
    </div>
</div>
<%- include('./part/layout-end') %>





