<%- include('../part/layout-start', {title: title}) %>
<%- include('../part/menu') %>

<h1><%= title %></h1>

<div class="row">
    <div class="col-sm-6">
        
        <%- include('form') %>

    </div>
</div>

<%- include('../part/layout-end') %>